<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Showing Details for user</h1>
        <p>First Name: <%= locals.user.firstName %></p>
        <p>Last Name: <%= locals.user.lastName %></p>
        <p>Age: <%= locals.user.age %></p>
        <p>Gender: <%= locals.user.gender %></p>
    </div>
</body>
</html>